/*aside menu begins*/
.App-menu{
  color: #ffffff;
  width: 235px;
  padding-top: 25px;
}
.App-menu ul{
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*padding-left: 35px;*/
  /*padding-top: 33px;*/
  /*width: 60px;*/
}

.App-menu li{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px; /** move the text to the right **/
}
.App-menu li i{
  width: 30px;
}
.App-menu li:hover{
  border-left: #ffffff 4px solid;
  background-color: #3b424e;  /* Change the link color on hover */
  padding-left: 31px;
}
.App-menu li a{
  font-size: 12px;
  /*display: block;*/
  /*padding-top: 16px;*/
  /*padding-bottom: 16px;*/
  padding-left: 16px;
  color: white;
  text-decoration: none;
}
.App-menu li a:hover {
  background-color: #3b424e;  /* Change the link color on hover */
  color: white;
}
/*aside menu ends*/
