/*colors*/
.white{
  background-color: #ffffff;
}
.deepBlue{
  background-color: #2e343d;
}
.green{
  background-color: #47b28d;
}
.green-light{
  background-color:  #6bc1a3;
}
.backgroundBlue{
  background-color: #395b72;
}
.iconGray{
  background-color: #d5d8de;
}
.gray{
  color:#d5d8de;
}
.bodyPanelGray{
  background-color: #eceef1;
}

.App-link {
  color: #61dafb;
}

/*colors end*/


.App {
  /*text-align: center;*/
}

body{
  background-color: #395b72;
}

/*nav starts*/
.navbar{
  height: 60px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 40px;
}
.Qubit-logo {
  height: 26px;
  width: 96px;
  pointer-events: none;
}

.user-info{
  width: 100vh;
}
.bell{
  margin-right:30px;
}
.initials{
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #d5d8de;
  border-radius: 15px;
}
.initials > span {
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}

.user-name{
  font-size: 9px;
  color: #575a5e;
  margin-top: 8px;
  margin-left:15px;
  margin-right:30px;
  line-height: 1.5;
}
.union-fashion{
  color: #fff !important;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}

.union-fashion .form-control{
  display: block;
  max-width: 118px;
  height: 25px;
  padding: .375rem .75rem;
  font-size: 9px;
  line-height: 1.5;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*nav ends*/


/*main section starts*/
.container{
  min-width: 1395px;
}
.main-section{
  /*flex-direction: row;*/
}

/*aside menu begins*/
.App-menu{
  color: #ffffff;
  width: 235px;
  padding-top: 25px;
}
.App-menu ul{
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*padding-left: 35px;*/
  /*padding-top: 33px;*/
  /*width: 60px;*/
}

.App-menu li{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px; /** move the text to the right **/
}
.App-menu li i{
  width: 30px;
}
.App-menu li:hover{
  border-left: #ffffff 4px solid;
  background-color: #3b424e;  /* Change the link color on hover */
  padding-left: 31px;
}
.App-menu li a{
  font-size: 12px;
  /*display: block;*/
  /*padding-top: 16px;*/
  /*padding-bottom: 16px;*/
  padding-left: 16px;
  color: white;
  text-decoration: none;
}
.App-menu li a:hover {
  background-color: #3b424e;  /* Change the link color on hover */
  color: white;
}
/*aside menu ends*/

.App-header{
  width: 100%;
  height: 107px;
}
.header-title{
  margin-left: 30px;
  margin-right: 14px;
  margin-top: 20px;
}
.header-title .form-control{
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  background-color:  #6bc1a3;
  width: 640px;
  height: 40px;
  color: #ffffff !important;
  display: block;
  padding-left: 10px;
  padding-right: 1px;
  padding-top: 5px;
  border: 1px solid #6bc1a3;
  border-radius: .15rem;
  transition: none;
}

.form-control:focus {
    color: #495057;
    border-color: #6bc1a3;
    outline: 0;
    box-shadow: 0 0 0 0; /*override react-bootstrap*/
}

.header-title .caption{
  font-size: 14px;
  text-align: left;
  color: #ffffff !important;
  margin-left: 11px;
}
.icon-pencil{
  margin-top: 32px;
  margin-right: 68px;
}
.header-title-buttons{
  margin-top: 35px;
}
.header-title-buttons .btn{
  margin-left:8px;
  padding-left:24px;
  padding-right:24px;
  min-width: 100px;
  min-height: 36px;
  font-size: 12px;
}
.btn-outline-secondary:hover {
    color: #575a5e;
    background-color: #fff;
    border-color: #fff;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #fff;
}

.hover-on{
    color: #575a5e;
    background-color: #fff;
    border-color: #fff;
}

.App-content{
  color: #5f6165;
  height: 100vh;
  padding:40px;
}
.App-content .card-body p{
  font-size: 12px;
}
.App-content .card{
  border: #bdc3c7 1px solid;
}
.App-content #define-segment{
  margin-right: 17px;
  width: 33%;
}

.App-content #estimated-size{
  width: 66%;
}

#products-purchased{
  margin-top: 17px;
  width: 100%;
}
#products-purchased .more-button{
  font-size: 8px;
  display: inline-block;
  min-width: 100px;
}
#products-purchased .more-button span{
  font-size: 12px;
  vertical-align: middle;
  margin-left:2px;
}

#products-purchased .delete-button{
  font-size: 12px;
  display: inline-block;
  min-width: 100px;
}
#products-purchased .delete-button span{
  font-size: 12px;
  vertical-align: middle;
  margin-left: 12px;
}


#products-purchased .category-dd-1{
  font-size: 12px;
  width: 175px;
  text-align: start;
  padding-left: 13px;
  border-right-width: 0px;
}

#products-purchased .category-dd-2{
  font-size: 12px;
  width: 100px;
  text-align: start;
  padding-left: 13px;
  border-right-width: 0px;
}

#products-purchased .category-dd-3{
  font-size: 12px;
  width: 400px;
  text-align: start;
  padding-left: 6px;
  border-right-width: 1px;
  border-radius: 3px;
}

#products-purchased .category-dd-3 span{
  border-radius: 3px;
  background-color: #d5d8de;
  padding: 2px 5px 3px 5px;
  color: #5d6063;
}

#products-purchased .mid-row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-toggle{
  border-left-width: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

#sample-field::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

#products-purchased .form-control{
  width: 55%;
}


.App-content form {
  width:100%;
}
.content-container{
  width: 100%;
}
/*main section ends*/


/*Progress Bar*/
#myProgress {
  width: 100%;
  background-color: #ebedee;
  border-radius: 5px;
}

#myBar {
  width: 10%;
  height: 20px;
  background-color: #47b28d;
  border-radius: 5px;
}
/*Progress Bar end*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
