/*colors*/
.white{
  background-color: #ffffff;
}
.deepBlue{
  background-color: #2e343d;
}
.green{
  background-color: #47b28d;
}
.green-light{
  background-color:  #6bc1a3;
}
.backgroundBlue{
  background-color: #395b72;
}
.iconGray{
  background-color: #d5d8de;
}
.gray{
  color:#d5d8de;
}
.bodyPanelGray{
  background-color: #eceef1;
}

.App-link {
  color: #61dafb;
}

/*colors end*/


body{
  background-color: #395b72;
}

/*main section starts*/
.container{
  min-width: 1395px;

}
.App{
  -webkit-box-shadow: 10px 10px 55px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px -13px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px -13px rgba(0,0,0,0.75);
  padding-right: 0px;
  padding-left: 0px;
}

#sample-field::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.App-content form {
  width:100%;
}
.content-container{
  width: 100%;
}
/*main section ends*/
